<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>发布留言</title>
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <form action="/save" method="get" role="form">
            <legend>发布留言</legend>
            <div class="form-group">
                <label for="name">名字</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Input field">
            </div>

            <div class="form-group">
                <label for="content">内容</label>
                <textarea name="content" id="content" class="form-control" rows="3" required="required"></textarea>
            </div>
            
            <button type="submit" class="btn btn-primary">提交</button>
        </form>
        
    </div>
</body>
</html>